@media (max-width: 1440px) {
    .uk-text-left {
        left: calc(25% - var(--uk-position-margin-offset));
        top: calc(55% - var(--uk-position-margin-offset));
    }
}


@media (max-width: 1300px) {

}

@media (max-width: 600px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block;
    }
}
