@media (max-width: 1440px) {
    .uk-text-left {
        left: calc(25% - var(--uk-position-margin-offset));
        top: calc(55% - var(--uk-position-margin-offset));
    }
}

@media (max-width: 1280px) {
    .uk-text-left {
        left: calc(30% - var(--uk-position-margin-offset));
        top: calc(57% - var(--uk-position-margin-offset));
    }
}

@media (max-width: 600px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block;
    }

    #header{
        position: relative !important;
    }
}
