@font-face {
    font-family:'Greycliff CF';
    src: url("fonts/GreycliffCF-Regular.eot");
    src: url("fonts/GreycliffCF-Regular.woff") format("woff"),
        url("fonts/GreycliffCF-Regular.woff2") format("woff2"),
        url("fonts/GreycliffCF-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    font-family:'Greycliff CF';
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #f7f7f7;
}

/* TEXT STYLE */

h1 {
    font-family: 'Greycliff CF';
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
}

.header-icon-text{
    font-weight: 500;
    font-size: 16px
}

.countdown-time {
    font-size: 80px;
    font-weight: 700;
}

.uk-text-icon {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 20px;
    margin-right: 80px;
}

/* END TEXT STYLE */


/* IMAGE STYLE */



/* END IMAGE STYLE */

.banner-title {
    margin: 26px 0;
    font-size: 48px;
}

.banner-title-half {
    margin: 23px 0;
}

.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

/*
headeer top
*/
.topbar {
    padding: 0;
}

.topbar .container .row {
    margin: -7px;
    padding: 0;
}

.topbar .container .row .col-md-12 {
    padding: 0;
}

.topbar p {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    color: #f1f6ff;
}

.topbar p>i {
    margin-right: 5px;
}

.topbar p:last-child {
    text-align: right;
}

header .navbar {
    margin-bottom: 0;
    padding: 15px 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
    border: none;
    margin: 0;
    padding: 0;
}

ul.social-network li {
    border: none;
    margin: 0;
}

ul.social-network li i {
    margin: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
}

ul.social-network {
    list-style: none;
    margin: 5px 0 10px -25px;
    float: right;
}

ul.social-network li a {
    color: #fff
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bg-dark {
    background-color: #222 !important;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.navbar {
    background-color: #F7F7F7
}

.navbar-nav li {
    margin: 0 15px;
}

.navbar-nav li a {
    font-size: 18px;
}

.navbar-brand {
    position: absolute;
    top: -45%;
    left: 0;
    padding: 25px 15px 0 15px;
    background-color: #F7F7F7;
    border-radius: 0 15px;
}

.navbar-nav .nav-item a {
    font-weight: bold;
    color: #000;
}

.fixed .navbar-nav .nav-item a {
    color: #fff;
}

.fixed .topbar ul li a, .fixed .topbar ul li i {
    color: #000;
}

.navbar-nav .nav-item.active a {
    font-weight: bold;
    color: #FD9901;
}

header {
    position: absolute;
    z-index: 10;
    width: 100%;
    overflow-x: hidden;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%;
}

.fixed .topbar {
    background: rgba(245, 245, 245, 0.8)
}

.fixed .navbar {
    background: rgba(17, 16, 56);
}

.fixed .navbar-brand{
    background: rgba(17, 16, 56);
}

.orange {
    color: #FD9901;
}

.white, .white i, .white a {
    color: #fff;
}

.header.fixed .logo-dark, .logo-white {
    display: none
}

.header.fixed .logo-white {
    display: block;
}

.nav-right {
    position: absolute;
    right: 15px;
}

.nav-right > * {
    margin: 0 5px;
}

.input-group-text {
    background: unset !important;
}

.form-control.search {
    border-radius: 0;
    background: unset;
    border: unset;
    border-bottom: 2px solid #000;
    transition: 0.5s;
    transform:scaleX(0);
    padding: 0;
}

.fixed .form-control.search {
    border-bottom: 2px solid #fff;
}

.search-group .fa-search {
    font-size: 24px;
}

.fixed .search-group .fa-search {
    color: #fff;
  }

.search-group .fa-search:hover {
    cursor: pointer;
}

.mobile {
    display: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FD9901;
    --bs-btn-border-color: #FD9901;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ce7b00;
    --bs-btn-hover-border-color: #ce7b00;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FD9901;
    --bs-btn-active-border-color: #FD9901;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FD9901;
    --bs-btn-disabled-border-color: #FD9901;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6A8187;
    --bs-btn-border-color: #6A8187;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #516266;
    --bs-btn-hover-border-color: #516266;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6A8187;
    --bs-btn-active-border-color: #6A8187;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6A8187;
    --bs-btn-disabled-border-color: #6A8187;
}

#countdown {
    background-color: #12A89D;
    padding: 15px;
    color: #fff;
    border-radius: 15px 15px 100px 15px;
    background-image: -webkit-linear-gradient(165deg, #275c6831 50%, #12A89D 50%);
    position: absolute;
    z-index: 2;
    right: 5%;
    top: 20%;
    text-align: center;
}

#countdown hr {
    height: 2px;
    background: #fff;
    margin: 0;
    opacity: 1;
  }

.uk-grid > * {
    padding-left: 0px;
}

.uk-text-left {
    left: calc(20% - var(--uk-position-margin-offset));
    top: calc(45% - var(--uk-position-margin-offset));
}

.uk-panel .btn {
    font-size: 24px;
    padding: 15px 30px
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.element-bg-1 {
    right: 0;
    bottom: -25%;
    width: 25%;
    opacity: 0.75;
  }

  .z-2 {
    z-index: 2 !important;
  }